{% extends 'portfolio/base.html' %}
{% block title %}Arpitha N G - Contact{% endblock %}
{% block content %}
<div class="container contact-page" style="text-align:center; padding:3rem 0; color: black;">
    <h1>
        <center>Connect With Me</center>
    </h1>
    <p style="color: #333333;margin-bottom:2rem;">Feel free to reach out through my social profiles</p>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/arpitha-n-g/" target="_blank" class="social-icon">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/Arpitha4" target="_blank" class="social-icon">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.instagram.com/bhat.n.g" target="_blank" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="mailto:arpithabhatng01@gmail.com" class="social-icon">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
</div>
{% endblock %}
